/* Additional decoration */
.main-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.input-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}

.total-todoTrans {
    background-color: #f2f9ff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Button style */
.btn-primary {
    background: linear-gradient(135deg, #008080, #80ced6);
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background: #80ced6;
}

/* Table style */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e2e6ea;
}
/* Inside your CSS file */
/* Button style */
.custom-button {
    background-color: #4000ff; /* Change to the desired color */
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
}

.custom-button:hover {
    background-color: #00d9ff; /* Change to the desired hover color */
}
