<div class="container">
    <mat-toolbar color="primary">
        <span>To-do Transactions</span>
    </mat-toolbar>

    <div class="row">
        <div class="column">
            <mat-card class="custom-card">
                <mat-card-header>
                    <mat-card-title>Todo Transactions</mat-card-title>
                </mat-card-header>
                <mat-card-content class="content">
                    <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()">
                        <div class="row">
                            <div class="row">
                                <mat-form-field class="select-field">
                                    <mat-label>Select Month</mat-label>
                                    <mat-select name="month" id="month" formControlName="month" (selectionChange)="onChangeExpense($event)">
                                        <mat-option value="January">January</mat-option>
                                        <mat-option value="February">February</mat-option>
                                        <mat-option value="March">March</mat-option>
                                        <mat-option value="April">April</mat-option>
                                        <mat-option value="May">May</mat-option>
                                        <mat-option value="June">June</mat-option>
                                        <mat-option value="July">July</mat-option>
                                        <mat-option value="August">August</mat-option>
                                        <mat-option value="September">September</mat-option>
                                        <mat-option value="October">October</mat-option>
                                        <mat-option value="November">November</mat-option>
                                        <mat-option value="December">December</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <input matInput class="input-field" formControlName="expenseType" type="text" placeholder="Enter Transaction Type" name="expenseType" id="expenseType" [class.disabled-dropdown]="!selectedMonth">
                            <input matInput class="input-field" formControlName="expenseAmount" type="number" placeholder="Enter Amount" name="expenseAmount" id="expenseAmount" [class.disabled-dropdown]="!selectedMonth">
                        </div>

                        <div class="button-container">
                            <button mat-raised-button color="primary" type="submit" (click)="onSubmitExpense()" [class.disabled-dropdown]="!selectedMonth">Add Transaction</button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="column">
                            <p class="income"> Total ToDo's for {{ selectedMonth }}: ${{ calculateTotalExpense(selectedMonth) }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="table-card">
                <mat-card-header>
                    <mat-card-title>Income List - {{ selectedMonth }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="new">
                    <!-- Your Material table content here -->

                    <div style="height: 300px; overflow-y: auto;">
                        <table mat-table [dataSource]="getFilteredExpenses()" class="mat-elevation-z8">
                            <!-- Table content -->
                            <ng-container matColumnDef="expenseType">
                                <th mat-header-cell *matHeaderCellDef> Transaction Type</th>
                                <td mat-cell *matCellDef="let element"> {{ element.expenseType }} </td>
                            </ng-container>
                            <ng-container matColumnDef="expenseAmount">
                                <th mat-header-cell *matHeaderCellDef> Amount </th>
                                <td mat-cell *matCellDef="let element"> {{ element.expenseAmount }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['expenseType', 'expenseAmount' ]"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['expenseType', 'expenseAmount' ]"></tr>
                        </table>
                    </div>





                </mat-card-content>
                <div class="button-container">
                    <button mat-raised-button (click)="onBack()" class="back-button mr-2">Back</button>
                    <button mat-raised-button (click)="saveForm()" class="save-button ml-2">Save</button>
                </div>


            </mat-card>
        </div>
    </div>
</div>